body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper--images {
  width: 500px;
  margin: 0 auto;
  padding: 0;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}

.image-thumb {
  height:200px;
  width: 350px;
}

#bigimage {
  height: 300px;
  width: 500px;
  object-fit:cover;
}

#thumbnails{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap:10px
}
