body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper--images {
  width: 500px;
  margin: 0 auto;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.images-thumb {
  flex:1;
  height: 100px;
  width: 100px;
  display: block;
  cursor: pointer;
  object-fit:cover;
}

#big-image {
  height: 300px;
  width: 100%;
  object-fit:cover;
}
